/* estilos del navbar */
.bg-nav{
    background-color: #400C68;
}

.navbar-toggler-icon {
    background-image: url(../assets/img/menu.png) !important; /* Cambia el color del ícono a rojo */
  }
  

.nav-logo{
    width: 215px;
    height: 130px;
}

.nav-menu-items{
    width: 60%;
}

.nav-menu-items a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: all 300ms;
}

.btn-drop{
    color: white !important;
    font-size: 25px !important;
    font-weight: bold !important;
    transition: all 300ms !important;
}

.btn-drop:hover{
    background-color: #007BFF !important;
    padding: 5px !important;
    border-radius: 15px !important;
}

.dropdown-menu li a{
   background-color: transparent !important; 
   color: black;
   font-weight: normal;
   font-size: 15px;
}


.dropdown-menu li a:hover{
    background-color: #007BFF !important;
    color: white;
    border-radius: 0px;
}

.nav-menu-items a:hover{
    background-color: #007BFF;
    padding: 5px;
    border-radius: 15px;
}

.nav-menu-items a:last-child{
    background-color: #F15A24;
    padding: 5px;
    border-radius: 15px;
}

/* estilos del header */
#header-index{
    height: 100vh;
    background-color: #400C68;
    background-image: url(../assets/img/IMAG10.png), 
        url(../assets/img/IMAG19.png), 
        url(../assets/img/IMAGOTIPO1.png) , 
        url(../assets/img/IMAGOTIPO2.png),
        url(../assets/img/LINEA\ NARANJA.png),
        url(../assets/img/IMAGOTIPO1.png);
    background-position: right 10% top 35%, right 20% top , right -10% bottom 25% , left 30% bottom 25% , left 100% , left -20% top 28%;
    background-repeat: no-repeat;
    background-size: 18% auto , contain, 30% auto , 30% auto , auto 100% , 30% auto;
    overflow: hidden;
}

.text-description{
    height: 400px;
    width: 100%;
}

.text-style-1{
    color: white;
}



.btn_demo{
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: #F15A24;
    border-radius: 15px;
    font-weight: bold;
    padding: 7px;
}

/*estilos sección de contactos*/
.contacto{
    overflow: hidden;
}
.conecta-informacion{
    background-color: #BFC9CA;
    height: 600px;
}

.contacto-icon{
    height: 50px;
}

.img-hombre{
    height: 470px;
}

.seccion-contacto-img{
    position: relative;
}

.nube-descripcion{
    height: 150px;
    position: absolute;
    right: 120px;
    top: -30px;
}

.conecta-informacion-formulario{
    background-color: #4A235A;
}

.text-orange{
    color: #F25725;
}

.form-group label{
    color: white;
}

.btn-contacto{
    background-color: #F25725 !important;
    color: white !important;
    font-weight: bold !important;
    width: 70%;
}

.input-contacto{
    background-color: transparent !important;
    border-color: 1px solid white;
    color: white !important;
}

.input-contacto:focus{
    box-shadow: none !important;
    border-color: white !important;
}

.select-contacto{
    
    background: #4A235A !important;
    border-color: 1px solid white;
    color: white !important;
}


/*Estilos sección de propositos*/
.propositos-seccion{
    background-color: #BFC9CA;
    padding-bottom: 20px;
    height: auto;
}

.titulo-propsitos{
    width: 50%;
}

.titulo-propsitos h3 {
    color: #4A235A;
}

.titulo-propsitos span {
    text-align: justify;
}




.card-habilidad{
    position: relative;
}

.card-habilidad h4{
    position: absolute;
    bottom: -10px;
}

/*Estilos sección servicios*/
#servicios{
    background-color: #380050;
    height: auto;
    padding-bottom: 30px;
}

.servicios-imagenes{
    width: 250px;
}

.servicio-item a {
    text-decoration: none;
    color: white;
    background-color: #F15A24;
    padding: 8px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}

.equipo img{
    width: 250px;
}

.equipo div{
    display: block;
    width: auto;
    color: white;
    padding: 3px;
    text-align: center;
    background-color: #F15A24;
}

.equipo a {
    color: white;
}

/*Estilos footer*/
#footer-lang{
    height: auto;
    background-color: #424949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-enviar{
    background-color: #400C68 !important;
    color: white !important;
    width: 200px;
}

.img-footer{
    width: 300px;
}

.contacto-footer img{
    width: 30px;
}

.contacto-footer a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.servicio-items-footer a{
    text-decoration: none;
    color: white;
}

.servicio-items-footer span {
    color: white;
    margin-right: 3px;
    margin-left: 3px;
}

.redes-sociales a img{
    width: 50px;
}
